.divProjects {
  display: flex;
  flex-direction: column;
  width: 1011px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 1500px;
  text-align: center;
}
.projects h2{
  font-size: 30px;
  font-weight: 400;
}
.projects p{
  font-size: 12px;
}
.carousel{
  display: flex;
  width: 95%;
  height: 300px;

}
.carousel a{
  display: flex;
  width: 200px;
  height: 250px;
}
.carousel img {
  width: 100%;
  padding-right: 2px;
  border-radius: 10px;
  object-fit: cover;
  
}
.swiperSlides a{
  cursor: pointer;
}


.projectImg {
  display: flex;
  width: 600px;
  height: 800px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rebeccapurple;
  overflow: hidden;
  z-index: 1;
}
.divFullscren{
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-around;
  align-items:center;
  margin-top: -40px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #fcfcfc;
  animation: moveArrow 2s infinite;
}

.fullscreen {
  text-decoration: none;
  font-size: 14px;
  transition: 0.4s;

}

.fullscreen:hover {
  box-shadow: 10px 10px 20px rebeccapurple;
}

.projectImg iframe {
  width: 100%;
  top: 0;
  left: 0;
  border: none;
  transform: scale(1.0);
  /* Ajuste a escala conforme necessário (0.5 significa 50%) */
  transform-origin: top left;
  border-radius: 10px;
}


@keyframes moveArrow {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(20px);
  }

  100% {
      transform: translateY(0);
  }
}

@media (max-width:1000px) {

  .divProjects {  
    max-width: 90%;
  }
  .projects{
    height: 1300px;
  }

  .projectImg {
    display: flex;
    width: 90%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rebeccapurple;
    overflow: hidden;
    z-index: 1;
  }
}

@media (max-width:730px) {
  .carousel{
    max-width:450px ;
  }
.swiperSlides {
  display: flex;
  justify-content: center;
  
}
}

@media (max-width:280px) {
  .projects{
    margin-top: 100px;
  }
}