main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 1305px;
  z-index: 1;
}


.logoDiv {
  display: flex;

  align-items: center;
  justify-content: space-around;
  width: 1176px;
  height: 600px;
  z-index: 1;

}

.logImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 474px;
  height: 474px;
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.logImg img {
  width: 100%;
}

.logName {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  width: 510px;
  height: 400px
}


.title {
  font-size: 48px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 22px;
}





.animatedheader {
  color: #ffffff;
  text-align: center;
}

.animatedheader span {
  font-size: 40px;
  display: inline-block;
  opacity: 0;
  transform: translateY(-100px);
  animation: dropIn 12s forwards infinite;
  color: #c59337;
}

/* Animação */
@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

/* Atraso incremental */
.animatedheader span:nth-child(1) {
  animation-delay: 0s;
}

.animatedheader span:nth-child(2) {
  animation-delay: 0.2s;
}

.animatedheader span:nth-child(3) {
  animation-delay: 0.4s;
}





.aboutMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1006px;
  height: 469px;
  gap: 10px;
  z-index: 1;
}

.b1 {
  display: flex;
  width: 400px;
  height: 438px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.b2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 15px;
  width: 38%;
  height: 400px;
}

.aboutMe .b2 h3 {
  font-size: 38px;

}

.b1 img {
  width: 100%;
  border-radius: 5px;
}


@media (max-width:1300px) {


  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
  }


  .logoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 1000px;
    z-index: 1;

  }

  .logImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 474px;
    height: 474px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }


  .logName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 510px;

  }


  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    height: 869px;
    gap: 10px;
    z-index: 1;
  }

}

@media (max-width:700px) {
  .logName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 350px;
    text-align: center;
  }


  .logImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 374px;
    height: 374px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 800px;
    gap: 10px;
    z-index: 1;
  }

  .b2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 90%;
    height: 300px;
  }


}

@media (max-width:460px) {

  .logName {
    height: 500px;
  }

  .logImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 300px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 600px;
    gap: 10px;
    z-index: 1;
  }


  .b1 {
    display: flex;
    width: 95%;
    height: 338px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }


  .b2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 90%;
    height: 300px;
  }


}

@media (max-width:350px) {

  .logoDiv {
    z-index: 10;
  }
}