main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6019px;
  width: 100%;

}


section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 1305px;
}


.logoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 988px;
  height: 1176px;

}

.logImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 474px;
  height: 474px;
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.logImg img {
  width: 100%;
}

.logName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 510px;
  height: 500px;
}

.hey {
  font-size: 38px;
}

.title {
  font-size: 62px;
}

h2 {
  font-size: 38px;
}

p {
  font-size: 21px;
}

.aboutMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1006px;
  height: 469px;
  gap: 10px;
}

.b1 {
  display: flex;
  width: 48%;
  height: 438px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.b2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 15px;
  width: 38%;
  height: 400px;
}

.b1 img {
  width: 100%;
  border-radius: 5px;
}

.navProjects {
  display: flex;
  width: 883px;
  height: 56px;
}

.ulProjects {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ulProjects li {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  transition: 0.3s;
  text-align: center;
  border-radius: 20px;
  width: 150px;
  font-size: 25px;
  font-weight: 700;
}

.ulProjects li:hover {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #FFFFFF;
}