.container {
  display: flex;
  justify-content: flex-end;
  width: 120px;
}

.inputHamburger {
  display: none;
}

.labelHamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu {
  height: 60px;
  width: 60px;
  display: none;
  align-self: flex-end;
}

.hamburger {
  display: block;
  position: relative;
  background-color: #c59337;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #c59337;
  transition: 0.2s ease-in-out;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.father1 {
  position: relative;
}

.dropdown1 {
  display: none;
}

.father1:hover .dropdown1 {
  display: block;
  position: absolute;
  bottom: -80px;

}

.dropdown1 .children1 {
  display: block;


}

input:checked~label .hamburger {
  transform: rotate(45deg);
}

input:checked~label .hamburger::before {
  transform: rotate(90deg);
  top: 0;
}

input:checked~label .hamburger::after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked~label .container {
  opacity: 0.9;
}

.ul2 {
  display: none;
  align-items: center;
  list-style: none;
  margin-bottom: 5px;


}

.ul2 li {
  margin-left: 15px;
}

.ul2 li a {
  font-size: 16px;
  padding: 10px 10px;
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}





@media(max-width:900px) {

  .menu {
    display: block;

  }

  .ul2 {
    display: none;

  }

  input:checked~.ul2 {
    display: flex;
    width: 100%;
    flex-direction: column;

  }

  .ul2 li {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ul2 li a:hover {
    color: rgb(253, 198, 57);
  }

  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;

  }

}